[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Thomas Lucking
	email = telucking@gmail.com
[credential]
	helper = cache
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
